# Other type declarations

# ========= Add the following line =============
type vehicle_ambient_light_service, system_api_service, system_server_service, service_manager_type;

